In [55]:
import numpy as np
from scipy.stats import chi2_contingency

import pandas as pd

from IPython.display import display, display_html

In [56]:
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [57]:
data = pd.read_csv('./Prostate_cancer_micronutrients.csv')

# Sun Exposure and the Risk of Prostate Cancer in the Singapore Prostate Cancer Study: Table 1

### Basic overview

In [58]:
data.shape

(524, 833)

In [59]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    display(data.head().transpose())

,0,1,2,3,4
CAP_SN,1-001-44,1-002-41,1-003-38,1-004-39,1-005-39
PSA,10.58,0.53,NaN,9.55,6.82
UNIT,ug/L,ug/L,NaN,ug/L,ug/L
F,H,NaN,NaN,H,H
REFERENCE RANGE,0.00 - 4.00,0.00 - 4.00,NaN,0.00 - 4.00,0.00 - 4.00
serial1st,1,1,1,1,1
age,62.7844,66.0671,69.1307,67.4305,67.5592
ageCat,2,2,2,2,2
age5,3,4,4,4,4
casectrl,1,1,1,1,1
chi_cc,NaN,1,1,1,1
nonChi_cc,1,NaN,NaN,NaN,NaN
participant,Case,Case,Case,Case,Case
participanttype,Case,Case,Case,Case,Case
currentadmissionnotfordiagnosiso,0,0,0,0,0
control,NaN,NaN,NaN,NaN,NaN
ECOG,NaN,NaN,NaN,NaN,NaN
inte,1,1,1,1,1
interviewer,1,1,1,1,1
q1A1,4,1,1,1,1
q1A1_t,Eurasian,NaN,NaN,NaN,NaN
ethnic0,3,0,0,0,0
ethnic,Others,Chinese,Chinese,Chinese,Chinese
chinese,0,1,1,1,1
nonChi,1,0,0,0,0
q1A2,4,1,1,1,1
q1A3,4,1,1,1,1
q1A4,1,1,1,1,2
q1A4_t,NaN,NaN,NaN,NaN,NaN
q1A5,99,99,99,99,10
q1B1,1,3,7,8,1
q1B2,2,4,4,2,3
q1B3,3,1,3,5,1
q1C1,2,2,2,2,2
marital,0,0,0,0,0
q1D1,2,6,4,5,2
q1D1_t,NaN,NaN,NaN,NaN,NaN
q1E1,10,13,10,9,14
q1E2,2,1,2,2,2
employment,2,1,2,2,2
q1E3,0,168,174,160,165
height1,173,168,174,160,165
heightSq,2.9929,2.8224,3.0276,2.56,2.7225
q1E4,65,57,64,75,68
weight1,65,57,64,75,68
BMI,21.7181,20.1956,21.1389,29.2969,24.977
BMI_gp,1,1,1,4,2
BMI_gp2,1,1,1,4,2
q1E5,2,2,2,2,2
q1F1d,0,1983,1959,0,0
q1F1e,1998,2007,2001,0,0
q1F1f,0,0,0,0,0
q1F1g,99,0,0,0,0
p1A_1,Others,Chinese,Chinese,Chinese,Chinese
p1A_1others,Eurasian,NaN,NaN,NaN,NaN
p1D_1,HDB 4room,Bungalow,HDB executive,Private condo,HDB 4room
p1D_1others,NaN,NaN,NaN,NaN,NaN
housing,HDB 4room,Private condo,HDB 4room,Private condo,HDB 4room
housingGrp,9,11,9,10,9
school_gp,2,3,2,2,3
SRH,2,2,2,2,2
q2A1,2,2,2,2,2
q2A2,2,2,2,2,2
q2A3,2,2,3,2,2
q2A4,1,1,1,1,1
q2B1,2,2,2,2,1
q2B2,2,1,2,2,2
q2B2_age,99,0,99,99,99
q2B3,2,2,2,2,2
q2B3_age,99,99,99,99,99
q2B4,2,2,2,2,2
q2B4_age,99,99,99,99,99
q2B5_1,2,2,2,2,2
q2B5_2,2,2,2,2,2
q2B5_3,2,2,2,2,2
q2B5_4,2,2,2,2,2
HT,0,0,1,1,1
q2B6_1a,2,2,1,1,1
q2B6_1b,99,99,54,48,50
q2B6_1c,99,99,-1,-1,-1
cholesterol,1,0,1,0,1
q2B6_2a,1,2,1,2,1
q2B6_2b,61,99,52,99,55
q2B6_2c,-1,99,0,99,-1
DM,0,0,0,0,1
q2B6_3a,2,2,2,2,1
q2B6_3b,99,99,99,99,55
q2B6_3c,99,99,99,99,-1
q2B6_4a,2,2,1,0,0
q2B6_4b,99,99,23,0,0
q2B6_4c,99,99,-1,0,0
prevCA,0,0,0,1,0
prevCA_age,NaN,NaN,NaN,50,NaN
q2B7_1,2,2,2,1,2
q2B7_2a,99,99,99,nasal,99
q2B7_2c,99,99,99,333,99
q2B7_2d,99,99,99,50,99
q2B7_2e,99,99,99,0,99
q2B7_31,99,99,99,1,99
q2B7_32,99,99,99,2,99
q2B7_33,99,99,99,1,99
q2B7_34,99,99,99,0,99
q2C_1,1,1,1,1,1
antibiotic,1,1,1,1,1
q2C_2a,1,1,1,1,2
q2C_2b,2,2,2,3,2
q2C_2c,2,2,2,3,2
q2D_1,1,1,1,1,1
medication,1,1,1,1,1
q2D_2,2,2,2,2,2
d2a,99,99,99,99,99
d2b,99,99,99,99,99
d2c,99,99,99,99,99
d2d,99,99,99,99,99
q3D_3,2,2,2,2,2
d3a,99,99,99,99,99
d3b,99,99,99,99,99
d3c,99,99,99,99,99
d3d,99,99,99,99,99
q2D_4,2,2,1,1,1
d4a,99,99,hypertension,hypertension,hypertension
d4b,99,99,54,53,50
d4c,99,99,69,68,68
d4d,99,99,180,180,216
q2D_5,1,2,2,2,1
d5a,high cholesterol,99,99,99,high cholesterol
d5b,61,99,99,99,55
d5c,63,99,99,99,68
d5d,24,99,99,99,156
q2D_6,2,2,1,2,2
d6a,99,99,TB,99,99
d6b,99,99,23,99,99
d6c,99,99,23,99,99
d6d,99,99,3,99,99
q2D_7,2,2,2,2,1
d7a,99,99,99,99,0
d7b,99,99,99,99,55
d7c,99,99,99,99,68
d7d,99,99,99,99,156
q2D_8,2,2,1,2,2
d8a,99,99,0,99,99
d8b,99,99,54,99,99
d8c,99,99,55,99,99
d8d,99,99,6,99,99
q2D_9,2,2,2,2,2
d9a,99,99,99,99,99
d9b,99,99,99,99,99
d9c,99,99,99,99,99
d9d,99,99,99,99,99
q2D_10,2,2,2,2,2
d10a,99,99,99,99,99
d10b,99,99,99,99,99
d10c,99,99,99,99,99
d10d,99,99,99,99,99
q2D_11,2,2,2,2,2
d11a,99,99,99,99,99
d11b,99,99,99,99,99
d11c,99,99,99,99,99
d11d,99,99,99,99,99
q2D_12,2,2,2,2,2
d12a,99,99,99,99,99
d12b,99,99,99,99,99
d12c,99,99,99,99,99
d12d,99,99,99,99,99
q2D_13,2,1,1,2,2
d13a,99,ginseng and Vit E,thyroid,99,99
d13b,99,0,0,99,99
d13c,99,0,0,99,99
d13d,99,180,3,99,99
q2D_14,1,2,2,2,1
d14a,0,99,99,99,aspirin - for the heart
d14b,61,99,99,99,67
d14c,63,99,99,99,68
d14d,24,99,99,99,12
q2D_15,0,0,injection for main,0,0
d15a,0,0,medication for uric acid,0,0
d15b,0,0,0,0,0
d15c,0,0,0,0,0
d15d,0,0,0,0,0
e21b,61,47,60,50,58
e22a,heart balloon and stent,TURP,dengue fever,0,0
e22b,61,65,67,0,0
e23a,0,0,0,0,0
e23b,0,0,0,0,0
e3,1,1,1,1,1
e41a,heart balloon and stent,removal of piles,cataract op,right-leg amputation.TTSH.Ulcer infection fr y...,removal of pus
e41b,61,47,65,50,58
e42a,0,TURP,NaN,removal of growth from neck,0
e42b,0,65,NaN,51,0
e43a,0,0,NaN,0,0
e43b,0,0,NaN,0,0
e1,1,1,1,1,1
emorehistory,NaN,NaN,NaN,NaN,NaN
_merge1,1,1,1,1,1
HoursVigor_workday,0,0,0,0,0
HoursSleep_workday,8,7,6,8,6
HrsVigor_wrkdy,0,0,0,0,0
HoursMod_workday,5,4,0,1,2
HrsMod_wrkdy,5,4,0,1,2
HoursMod_restday,2,4,0,1,2
HrsMod_restdy,2,4,0,1,2
HoursLight_workday,11,13,18,15,12
HrsLight_wrkdy,11,13,18,15,12
HoursLight_restday,13,11,18,15,12
HrsLight_restdy,13,11,18,15,12
HoursSleep_restday,9,9,6,8,6
HoursVigor_restday,0,0,0,0,0
HoursOutdr_SchDays,10,1,2.5,4,2
HoursOutdr_NonSch,10,6,2.5,7,3
Activities_SchDays,1,2,1,1,2
Activities_NonSch,1,1,1,1,2
SunProtect_SchDays,2,2,2,2,1
SunProtect_NonSch,2,2,2,2,1
b3aspecifyifyes,99,99,99,99,0
b3bspecifyifyes,99,99,99,99,0
HoursOutdr_Workdays,2,0,1,2,2
HoursOutdr_NonWork,4,0,1,2,3
Activities_Workdays,2,2,2,1,2
Activities_NonWork,1,2,2,1,2
SunProtect_WorkDays,2,2,2,2,2
SunProtect_NonWork,2,2,2,2,2
b6aspecifyifyes,99,99,99,99,99
b6bspecifyifyes,99,99,99,99,99
bextrainfo,NaN,NaN,NaN,NaN,NaN
q3A1a,0,0,0,0,0
q3A2a,5,4,0,1,2
q3A3a,11,13,18,15,12
q3A4a,8,7,6,8,6
q3A1b,0,0,0,0,0
q3A2b,2,4,0,1,2
q3A3b,13,11,18,15,12
q3A4b,9,9,6,8,6
vig_work,0,0,0,0,0
mod_work,5,4,0,1,2
sit_work,11,13,18,15,16
sleep_work,8,7,6,8,6
MET_work,43.7,41.8,32.4,33.7,37.4
vig_rest,0,0,0,0,0
mod_rest,2,4,0,1,2
sit_rest,13,11,18,15,16
sleep_rest,9,9,6,8,6
MET_rest,35.6,40.6,32.4,33.7,37.4
MET_pw,289.7,290.2,226.8,235.9,261.8
MET_pwgp3,3,3,2,3,3
MET_pwgp2,1,1,0,1,1
MET_pwgp,4,4,2,3,4
q3B1a,10,1,2.5,4,2
q3B2a,1,2,1,1,2
q3B3a,2,2,2,2,1
q3B3a_t,99,99,99,99,0
q3B1b,10,6,2.5,7,3
q3B2b,1,1,1,1,2
q3B3b,2,2,2,2,1
q3B3b_t,99,99,99,99,0
q3B4a,2,0,1,2,2
q3B5a,2,2,2,1,2
q3B6a,2,2,2,2,2
q3B6a_t,99,99,99,99,99
q3B4b,4,0,1,2,3
q3B5b,1,2,2,1,2
q3B6b,2,2,2,2,2
q3B6b_t,99,99,99,99,99
childsch,8,1,2.5,4,2
childho,8,6,2.5,7,3
adultwork,2,0,1,2,2
adultwk,4,0,1,2,3
childsch_y,8,0,2.5,4,0
childsch_ygp,1,0,1,1,0
childho_y,8,6,2.5,7,0
childho_ygp,1,1,1,1,0
child_pw,56,12,17.5,34,0
childpw_gp,1,1,1,1,0
childpw_gp3,2,1,1,2,0
adultwork_y,0,0,0,2,0
adultwork_ygp,0,0,0,1,0
adultwkend_y,4,0,0,2,0
adultwkend_ygp,1,0,0,1,0
adult_pw,8,0,0,14,0
adultpw_gp,1,0,0,1,0
adultpw_gp3,1,0,0,2,0
qq,0,0,0,10,0
pp,8,0,0,4,0
adultpw_y,8,0,0,14,0
adultpw_gp_y,1,0,0,1,0
sun_long,2,2,2,3,NaN
sun_long2,2,2,2,3,NaN
sun_new,1,1,1,1,0
q3C1,2,1,1,1,1
q3C2,3,2,4,4,3
q3C3,1,1,1,1,2
q3C4,16,15,10,10,99
q3C5,4,4,3,4,1
q3C6,3,3,3,2,99
eye,2,1,1,1,1
eye2,0,1,1,1,1
eye4,Lt brown,Black,Black,Black,Black
eye3,0,1,1,1,1
skin,Lt Tan,V white/white,Tan,Tan,Lt Tan
skin3,Lt Tan,White,Dk brown,Dk brown,Lt Tan
skin2,3,1,4,4,3
sunburn,Yes,Yes,Yes,Yes,No
sunburn_fq3,2,2,2,2,1
sunburn_fq2,3,3,3,3,1
sunburn_fq,Frequently,Frequently,Occasionally,Frequently,None
sunburn_age,16,15,10,10,NaN
sunburn_age_gp,1,1,1,1,NaN
q3D1_2a,1,1,1,2,1
q3D1_2b,99,0,99,a,0
q3D1_3a,1,1,1,3,1
q3D1_3b,99,0,99,a,0
q3D1_4a,3,4,3,3,3
q3D1_4b,b,c,a,a,a
q3D1_5a,3,4,1,5,4
q3D1_5b,b,c,99,a,b
q3D1_6a,5,2,4,5,1
q3D1_6b,b,0,b,a,0
q3D1_7a,1,1,3,3,3
q3D1_7b,99,0,a,a,a
q3D1_8a,1,4,4,3,2
q3D1_8b,99,c,a,a,a
q3D1_9a,1,2,2,3,1
q3D1_9b,99,b,a (soup),a,0
q3D1_10a,6,5,3,4,2
q3D1_10b,b,c,a,a,b
q3D1_11a,1,3,1,5,2
q3D1_11b,99,b,99,c,b
q3D1_12a,4,4,3,5,3
q3D1_12b,b,b,a,c,b
q3D1_13a,4,3,3,3,2
q3D1_13b,b,b,a,a,b
q3D1_14a,5,1,6,3,4
q3D1_14b,b,0,a,a,a
q3D1_15a,5,3,4,3,4
q3D1_15b,b,c,b,a,b
beans_fq,130,24,52,24,52
beans_fq3,3,2,3,2,3
beans_s,30,60,30,15,30
beans,3900,1440,1560,360,1560
beans_3,3,2,3,1,3
beans_4,4,3,3,2,3
beans_cat,4,2,3,2,3
q3D1_16a,1,3,4,3,3
q3D1_16b,99,c,b,a,a
q3D1_17a,1,1,3,3,4
q3D1_17b,99,0,a,c,b
q3D1_18a,5,3,3,3,3
q3D1_18b,b,c,b,b,a
q3D1_19a,1,4,3,3,5
q3D1_19b,99,a,b,a,a
q3D1_20a,1,3,3,4,6
q3D1_20b,99,a,1 tomato,b (1 tomato),b
tomato_fq,0,24,24,52,260
tomato_s,0,30,120,120,52.5
tomato,0,720,2880,6240,13650
tomato_gp,1,1,2,2,3
q3D1_21a,1,3,3,3,2
q3D1_21b,99,a,a,b,b
q3D1_22a,4,3,2,5,3
q3D1_22b,b,a,a,b,a
q3D1_23a,2,4,3,3,3
q3D1_23b,0,c,a,a,a
q3D1_24a,1,1,3,3,3
q3D1_24b,99,0,a,a,a
q3D1_25a,6,6,3,6,4
q3D1_25b,c,b,b,c,a
q3D1_26a,1,1,1,2,3
q3D1_26b,99,a,0,a,a
q3D1_27a,1,1,1,3,2
q3D1_27b,99,a,0,c,b
q3D1_28a,1,1,1,3,2
q3D1_28b,99,0,0,a,a
q3D2_1a,3,1,5,2,6
q3D2_1b,b,0,b,a,a
q3D2_2a,0,1,3,3,4
q3D2_2b,0,0,juice,b,a
q3D2_3a,0,1,1,2,2
q3D2_3b,0,0,0,b,b
q3D2_4a,0,4,3,2,5
q3D2_4b,0,b,juice,a,b
q3D2_5a,0,3,2,3,2
q3D2_5b,0,b,0,b,a
q3D2_6a,0,1,2,2,2
q3D2_6b,0,0,0,b,a
q3D2_7a,0,1,1,2,2
q3D2_7b,0,0,99,b,a
q3D2_8a,0,1,2,5,3
q3D2_8b,0,0,b,b,a
q3D2_9a,3,5,5,7,3
q3D2_9b,b,c,b,b,a
q3D2_10a,3,4,2,2,5
q3D2_10b,0,c,0,c,a
q3D2_11a,3,1,1,3,3
q3D2_11b,b,0,0,b,a
q3D2_12a,0,1,5,3,5
q3D2_12b,0,0,0,b,b
q3D2_13a,0,1,1,3,1
q3D2_13b,0,0,0,b,0
q3D2_14a,0,1,2,3,3
q3D2_14b,0,0,0,b,a
q3D2_15a,5,4,5,7,7
q3D2_15b,2,honeydew,1,1,1
q3D2_16a,0,0,0,0,0
q3D2_16b,0,"chiku, rambutan",0,0,0
q3D3_1a,0,0,0,0,0
q3D3_1b,00 ( no option for steamed fish),00 (no option for steamed fish),00(no option for steamed fish),00 (no option for steamed fish),00 (no option for steamed fish)
q3D3_2a,3,5,5,4,4
q3D3_2b,b (grilled),b,b,b,b
q3D3_3a,0,5,5,1,4
q3D3_3b,0,b,b,99,b
q3D3_4a,0,0,0,0,0
q3D3_4b,00 (no option for steamed chicken),00 (no option for steamed chicken),00 (no option for steamed chicken),00 (no option for steamed chicken),00 (no option for steamed chicken)
q3D3_5a,4,5,4,5,5
q3D3_5b,b,b,b,b,a
q3D3_6a,0,5,3,1,3
q3D3_6b,0,b,b,99,a
q3D3_7a,4,3,3,5,4
q3D3_7b,b,b,b,a,b
q3D3_8a,1,1,3,4,2
q3D3_8b,99,0,b,b,a
duck_fq,0,0,24,52,6
duck_s,0,0,53,53,27
duck,0,0,1272,2756,162
duck_gp3,1,1,3,3,1
q3D3_9a,2,2,1,2,1
q3D3_9b,b,b,99,b,0
beef_fq,6,6,0,6,0
beef_s,45,45,0,45,0
beef,270,270,0,270,0
beef_gp,2,2,1,2,1
q3D3_10a,2,2,1,1,2
q3D3_10b,b,a,0,0,a
lamb_fq,6,6,0,0,6
lamb_s,45,20,0,0,20
lamb,270,120,0,0,120
lamb_gp,2,2,1,1,2
lamb_gp3,2,2,1,1,2
q3D3_11a,0,4,5,3,5
q3D3_11b,0,b,b,b,b
pfpork_fq,NaN,52,130,24,130
pfpork_s,NaN,76.7,76.7,76.7,76.7
pfpork,NaN,3988.4,9971,1840.8,9971
q3D3_12a,0,4,2,4,3
q3D3_12b,0,b,b,b,b
roastp_fq,NaN,52,6,52,24
roastp_s,NaN,35,35,35,35
roastpork,NaN,1820,210,1820,840
q3D3_13a,3,4,2,4,3
q3D3_13b,b,b,b,a,b
bbq_fq,24,52,6,52,24
bbq_s,35,35,35,15,35
bbq,840,1820,210,780,840
pork,840,7628.4,10391,4440.8,11651
pork_fq,24,156,142,128,178
pork_gp,1,2,2,2,2
redmeat,1380,8018.4,11663,7466.8,11933
redmeat_fq,36,168,166,186,190
redmeat_gp3,1,2,2,2,2
redmeat_cat,1,2,2,2,2
redmeat_cat4,1,2,2,2,2
q3D3_14a,1,1,1,2,2
q3D3_14b,99,0,0,a,a
q3D3_15a,1,1,1,2,1
q3D3_15b,99,0,0,a,0
q3D3_16a,1,1,1,2,1
q3D3_16b,99,0,0,a,0
q3D3_17a,0,0,4,5,6
q3D3_17b,0,0,b,b,c (egg white only)
q3D3_18a,4,3,3,3,5
q3D3_18b,c,b,reduced because of gaut,b,a
yongtaufoo_fq,52,24,24,24,130
yongtaufoo_fq3,3,2,2,2,3
yongtaufoo_s,125,87.5,NaN,87.5,50
yongtaufoo,6500,2100,NaN,2100,6500
yongtaufoo_gp3,3,2,NaN,2,3
q3D3_19a,1,3,4,4,5
q3D3_19b,b,b,a,a,b
taufoo_fq,0,24,52,52,130
taufoo_s,72.625,72.625,41.5,41.5,72.625
taufoo,0,1743,2158,2158,9441.25
q3D3_20a,0,3,1,3,2
q3D3_20b,0,b,0,a,a
taupok_fq,NaN,24,0,24,6
taupok_s,NaN,52.5,0,30,30
taupok,NaN,1260,0,720,180
q3D3_21a,0,3,4,4,2
q3D3_21b,0,b,a,a,a
taukwa_fq,NaN,24,52,52,6
taukwa_s,NaN,148.75,85,85,85
taukwa,NaN,3570,4420,4420,510
q3D3_22a,0,1,1,2,1
q3D3_22b,0,0,99,a,0
foojook_fq,NaN,0,0,6,0
foojook_s,NaN,0,0,50,0
foojook,NaN,0,0,300,0
tau4_fq,0,72,104,134,142
tau4,0,6573,6578,7598,10131.2
tau4_gp,1,2,3,3,3
tau4_gp3,1,2,2,2,2
tau5,3900,8013,8138,7958,11691.2
tau5_gp3,1,2,2,2,2
tau6_fq,24,130,134,524,246
tau6_gp,1,2,2,4,3
tau7_fq,154,154,186,548,298
tau7_gp,2,2,2,4,3
q3D3_23,1,1,1,1,1
d323,1,1,1,1,1
q3E1_1a,4,1,5,5,3
q3E1_1b,b,99,b,b,b
q3E1_2a,1,1,3,7,3
q3E1_2b,0,99,b,b,b
red_fq,52,0,130,130,24
red_s,250,0,250,250,250
redtea,13000,0,32500,32500,6000
red2,1,0,1,1,1
black_fq,0,0,24,365,24
black_s,0,0,250,250,250
blacktea,0,0,6000,91250,6000
black2,0,0,1,1,1
BLACKtea_fq,52,0,154,495,48
BLACKtea_cat4,1,1,2,4,1
BLACK_consumption,13000,0,38500,123750,12000
BLACK_cup,52,0,154,495,48
BLACK_cup_gp4,2,1,3,4,2
BLACK_cup_gp3,2,1,2,3,2
q3E1_3a,1,1,3,7,1
q3E1_3b,0,99,b,b,b
q3E1_4a,1,1,3,7,1
q3E1_4b,0,99,b,b,b
q3E1_5a,1,1,3,2,3
q3E1_5b,99,0,c,b,b
q3E1_6a,1,1,1,5,2
q3E1_6b,99,0,a,b,b
oolong_fq,0,0,24,365,0
oolong_s,0,0,250,250,250
oolong2,0,0,1,1,0
white_fq,0,0,24,365,0
white_s,0,0,250,250,250
white2,0,0,1,1,0
green_fq,0,0,0,130,6
green_s,0,0,125,250,250
green2,0,0,0,1,1
GREENtea_fq,0,0,48,860,6
GREENtea_cat4,1,1,3,4,1
GREENtea_cat3,1,1,2,3,1
oolong,0,0,6000,91250,0
white,0,0,6000,91250,0
green,0,0,0,32500,1500
GREENtea,0,0,12000,215000,1500
GREENtea_cup,0,0,48,860,6
ANYtea_fq,52,0,202,1355,54
ANYtea_gp2,1,0,1,1,1
anytea_gp4,2,1,2,4,2
anytea_cat4,1,1,2,4,2
any_BLACK,1,0,1,1,1
any_GREEN,0,0,1,1,1
any_tea,1,0,1,1,1
q3E1_7a,3,8,6,7,8
q3E1_7b,b,b,b,c,b
coffee_fq,24,912.5,260,365,912.5
coffee_fq_gp,1,3,1,2,3
coffee_s,250,250,250,500,250
coffee,6000,228125,65000,182500,228125
coffee_cup,24,912.5,260,730,912.5
coffee_gp3,1,3,2,3,3
q3E2_1a,4,1,4,1,1
q3E2_1b,b,0,99,0,0
q3E2_2a,1,1,1,7,1
q3E2_2b,99,0,99,0,0
q3E2_3a,1,6,1,2,5
q3E2_3b,a,a,99,a,a (1 slice)
q3E2_4a,3,4,3,6,4
q3E2_4b,b,b,b,b,b
soymilk_s,250,250,250,250,250
soymilk_fq,24,52,24,260,52
soymilk_gp,2,3,2,3,3
q3E2_5a,1,2,2,5,4
q3E2_5b,99,b,a,b,b (1 bowl)
soybeancurd_fq,0,6,6,130,52
soybc_gp,1,2,2,4,4
q3E3_1a,0,1,0,0,4
e31b,0,1,0,0,3
q3E3_2a,1,0,0,0,0
q3E3_2b,1,0,0,0,0
q3E3_3a,0,0,0,0,0
q3E3_3b,0,0,0,0,0
q3E3_4a,1,0,0,0,0
q3E3_4b,1,0,0,0,0
q3E3_5a,1,0,0,0,0
q3E3_5b,99,0,0,0,0
q3E3_6a,1,0,0,0,0
q3E3_6b,99,0,0,0,0
e37others,nil,nil,nil,omega 3 fish oil,nil
q3E3_7a,0,0,0,0,0
q3E3_7b,0,0,0,2,0
q3E4_1,1,2,1,2,1
EtOH,1,0,1,0,1
q3E4_2,20,18,99,99,20
q3E4_31a,3,3,1,99,2
q3E4_31at,1,2,99,99,99
q3E4_31b,1 can,2 cans,1 mug,99,1 can
q3E4_32a,99,0,0,99,1
q3E4_32at,99,99,99,99,99
q3E4_32b,99,0,0,99,0
q3E4_33a,1,0,1,99,2
q3E4_33at,99,99,99,99,99
q3E4_33b,1 glass,0,1 glass,99,1 glass
q3E4_34a,99,2,0,99,2
q3E4_34at,99,99,99,99,99
q3E4_34b,99,1 glass,0,99,1 glass
q3F_1,1,1,2,2,2
q3F_4,1,1,99,99,99
q3F_5,1,1,99,99,99
q3F_9,2,1,99,99,99
q3F_10,61,65,99,99,99
smoker,1,1,0,0,0
smoker3,1,1,0,0,0
q3F_2,2,2,99,99,99
q3F_3a,99,99,99,99,99
q3F_3b,99,99,99,99,99
q3F_6,20,20,99,99,99
q3F_7,1,1,99,99,99
q3F_8,10,20,99,99,99
whitetea_s1,0,99,b,b,b
wredtea_s1,b,99,b,b,b
blacktea_s1,0,99,b,b,b
oolong_s1,0,99,b,b,b
flowertea_s1,99,0,c,b,b
greentea_s1,99,0,a,b,b
wredtea_f1,52,0,130,130,24
wredtea_s2,250,NaN,250,250,250
amount_wredtea,13000,NaN,32500,32500,6000
blacktea_f1,0,0,24,364,24
dateofinterview1,30/04/2007,30/04/2007,04/05/2007,07/05/2007,11/06/2007
dateofinterview2,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00
intervwdate,30/04/2007,30/04/2007,04/05/2007,07/05/2007,11/06/2007
participanttype_a,Case,Case,Case,Case,Case
wredtea_f2,Drinker,Seldom or Non-Drinker,Drinker,Drinker,Drinker
participanttype_aii,Case,Case,Case,Case,Case
wredtea_f3,4,1,5,5,3
wredtea_f4,2,1,3,3,2
blacktea_f2,Seldom or Non-drinker,Seldom or Non-drinker,Drinker,Drinker,Drinker
blacktea_f3,1,1,3,7,3
oolong_f2,Seldom or Non-drinker,Seldom or Non-drinker,Drinker,Drinker,Seldom or Non-drinker
oolong_f3,1,1,3,7,1
greentea_f2,Seldom or Non-drinker,Seldom or Non-drinker,Seldom or Non-drinker,Drinker,Seldom or Non-drinker
flowertea_f2,Seldom or Non-drinker,Seldom or Non-drinker,Drinker,Seldom or Non-drinker,Drinker
greentea_f3,1,1,1,5,2
greentea_f4,Seldom,Seldom,Seldom,Frequent,Seldom
whitetea_f2,Seldom or Non-drinker,Seldom or Non-drinker,Drinker,Drinker,Seldom or Non-drinker
whitetea_f3,1,1,3,7,1
flowertea_f3,1,1,3,2,3
flowertea_f4,Seldom,Seldom,Regular,Seldom,Regular
_iwredtea_f_2,1,0,0,0,1
_iwredtea_f_3,0,0,1,1,0
_iwredtea_f_4,0,0,0,0,0
whitetea_f3_month,0,0,1,30,0
greentea_f3_month,0,0,0,8,0
oolong_f3_month,0,0,1,30,0
allgreentea,0,0,2,68,0
allgreentea_cat,0,0,1,3,0
blacktea_f3_month,0,0,1,30,1
wredtea_f3_month,4,0,8,8,1
allblacktea,4,0,9,38,2
allblacktea_cat,2,0,2,3,1
allblacktea_cat2,1,0,1,1,1
allgreentea_cat2,0,0,1,1,0
q4A1,2,3,4,1,2
q4A1a,2,1,333,99,1
q4A1b,2,1,333,99,2
q4A1c,2,1,333,99,2
q4A1d,2,2,333,99,2
q4A1e,2,2,1,99,2
q4A1f,2,2,333,99,2
famhx,1,3,4,1,2
ca,0,1,NaN,0,1
ca_no,0,3,NaN,0,1
CA_fa,2,1,NaN,2,1
CA_mo,2,1,NaN,2,2
CA_br,2,1,NaN,2,2
CA_sis,2,2,NaN,2,2
CA_son,2,2,NaN,2,2
CA_dgt,2,2,NaN,2,2
famhx_pc,0,1,0,0,0
q4A2_1a,uncle,Father,aunty,99,father-in-law
q4A2_1b,333,prostate,colon,99,prostate
q4A2_1c,333,0,0,99,0
q4A2_1d,99,0,40,99,79
CA_1_icd,.,61.9,NaN,.,NaN
CA_1_age,NaN,NaN,NaN,NaN,NaN
q4A2_2a,99,mother,0,99,sister-in-law
q4A2_2b,99,colon,0,99,colon
q4A2_2c,99,0,0,99,0
q4A2_2d,99,0,0,99,55
CA_2_icd,NaN,18.9,NaN,NaN,NaN
CA_2_age,NaN,NaN,NaN,NaN,NaN
q4A2_3a,99,2nd eldest brother,0,99,father
q4A2_3b,99,lung,0,99,colon
q4A2_3c,99,0,0,99,0
q4A2_3d,99,0,0,99,0
CA_3_icd,NaN,34.9,NaN,NaN,18.9
CA_3_age,NaN,NaN,NaN,NaN,NaN
q4A2_4a,99,99,0,99,99
q4A2_4b,99,99,0,99,99
q4A2_4c,99,99,0,99,99
q4A2_4d,99,99,0,99,99
CA_4_icd,NaN,NaN,NaN,NaN,NaN
CA_4_age,99,99,0,99,99
q4A3,1,1,333,1,1
q4A3a,99,99,333,99,99
q4A3b,99,99,333,99,99
q4A3c,99,99,333,99,99
q4A3d,99,99,333,99,99
q4A3e,99,99,333,99,99
q4A3f,99,99,333,99,99
markrank,5,4,4,5,4
lengthofinterview,40,60,60,45,45
dataentrydate,NaN,NaN,NaN,NaN,NaN
tomato_I,1,3,3,4,6
_est_A,0,1,1,1,1
_est_B,0,1,1,1,1
histo_sgh,1 Adenocarcinoma,1 Adenocarcinoma,NaN,1 Adenocarcinoma,1 Adenocarcinoma
serialnumber,144,241,338,439,539
clin_T,T3a,T1b,T1c,T2,T1c
T1T2,0,1,1,1,1
early_T,NaN,1,1,1,1
T3T4,1,0,0,0,0
late_T,1,NaN,NaN,NaN,NaN
Tstage,3,1,1,2,1
clin_T_ii,1,0,0,0,0
clin_Tcat,1,0,0,0,0
clin_N,N0,NX,NaN,NaN,NX
clin_M,M0,M0,NaN,M0,MX
clin_M2,M0,M0,MX,M0,MX
Mstage,0,0,2,0,2
primary_GL,4,3,4,3,3
secondary_GL,3,3,4,4,3
GleasonTotal,7,6,8,7,6
stage_M_gleason,"M0,GL 6-7","M0,GL 6-7",MX,"M0,GL 6-7",MX
localized,NaN,NaN,NaN,NaN,NaN
localized_g,NaN,NaN,NaN,NaN,NaN
advanced,NaN,NaN,NaN,NaN,NaN
advanced_g,NaN,NaN,NaN,NaN,NaN
MX,NaN,NaN,1,NaN,1
MX_g,NaN,NaN,1,NaN,1
adv_MX,NaN,NaN,1,NaN,1
adv_MX_g,NaN,NaN,1,NaN,1
stage,NaN,NaN,NaN,NaN,NaN
stage2,NaN,NaN,1,NaN,1
stage3,NaN,NaN,1,NaN,1
gleason,7,6,8,7,6
grade,1,0,1,1,0
grade_gp,2,1,2,2,1
low_g,NaN,1,NaN,NaN,1
high_g,1,NaN,1,1,NaN
MET_loco,2,2,0,1,2
MET_log,2,2,1,1,2
stage4,localized advanced,localized,localized advanced,localized advanced,localized
loco,NaN,localized,NaN,NaN,localized
loco_adv,localized advanced,NaN,localized advanced,localized advanced,NaN
metastatic,NaN,NaN,NaN,NaN,NaN
loco_adv_m,1,NaN,1,1,NaN
lo_loadv,1,0,1,1,0
lo_meta,NaN,0,NaN,NaN,0
lo_ad_meta,1,0,1,1,0
lo_METgp,3,3,1,2,3
Dx_method,001 TRUS Biopsy,002 TURP,001 TRUS Biopsy,001 TRUS Biopsy,001 TRUS Biopsy
Dx_Others,001 TRUS Biopsy,002 TURP,001 TRUS Biopsy,001 TRUS Biopsy,001 TRUS Biopsy
Dx_reCat,Biopsy,TURP,Biopsy,Biopsy,Biopsy
Dx_reCatNum,1,2,1,1,1
Dx_reCatNumII,1,2,1,1,1
HoursOutdr_SchDaysII,10,1,2.5,4,2
HoursOutdr_SchDaysIII,10,1,2.5,4,2
HoursOutdr_SchDaysCat,High,Medium,Medium,Medium,Medium
HoursOutdr_5schDays,50,5,12.5,20,10
HoursOutdr_NonSchII,10,6,2.5,7,3
HoursOutdr_NonSchIII,10,6,2.5,7,3
HoursOutdr_2NonSchDays,20,12,5,14,6
childhd_TotalOutdrHours,70,17,17.5,34,16
childhd_TotalOutdrHourst_Daily,10,2.42857,2.5,4.85714,2.28571
childhd_TotalOutdrHours_DailyCat,High,Medium,Medium,Medium,Medium
HoursOutdr_NonSchCat,High,High,Medium,High,Medium
Activities_SchDaysII,Yes,No,Yes,Yes,No
HoursOutdr_WorkdaysII,2,0,1,2,2
HoursOutdr_WorkdaysIII,2,0,1,2,2
HoursOutdr_WorkdaysCat,Medium,Low,Medium,Medium,Medium
HoursOutdr_NonWorkII,4,0,1,2,3
HoursOutdr_NonWorkIII,4,0,1,2,3
HoursOutdr_SchDaysIII_cat2,= or>1 hr,= or>1 hr,= or>1 hr,= or>1 hr,= or>1 hr
HoursOutdr_SchDaysIII_cat3,>2.5hr,<or=2.5hr,<or=2.5hr,>2.5hr,<or=2.5hr
Activities_NonSchII,Yes,Yes,Yes,Yes,No
HoursOutdr_SchDaysIIIcat,10,1,2.5,4,2
HoursOutdr_SchDaysIII_cat3_1,1,0,0,1,0
Sunburn_freqII,>10 times,>10 times,5-10 times,>10 times,None
EverSunburnII,Yes,Yes,Yes,Yes,No
totalHours_Childhd,10,3.5,2.5,5.5,2.5
totalHours_Childhd_3cat,High,Medium,Medium,High,Medium
totalHours_Childhd_2cat,= or>1 hr,= or>1 hr,= or>1 hr,= or>1 hr,= or>1 hr
Sunburn_freqIII,1,1,2,1,4
HoursOutdr_WorkdaysCat_2,= or>1 hr,<1 hr,= or>1 hr,= or>1 hr,= or>1 hr

"Family history of any cancer in the first degree relatives" could be anything from emorehistory to histo_sgh. Gotta get back to this later on.

In [60]:
def printNullCount(columns):
    for c in columns:
        if len(data[data[c].isna()]) > 0:
            print(c, ":", len(data[data[c].isna()]))

Are textual and their categorical columns identical when it comes to the number of NaNs?

In [61]:
printNullCount(['ethnic', 'ethnic0'])

ethnic : 11
ethnic0 : 11

In [62]:
printNullCount(['housing', 'housingGrp'])

housing : 11
housingGrp : 19

Nope!

In [63]:
# Sun Exposure and the Risk of Prostate Cancer in the Singapore Prostate Cancer Study: A Case-control Study
# Table 1 - couldn't find the family cancer history column.
columns = ['age', 'ethnic', 'ethnic0', 'housing', 'housingGrp', 'school_gp', 'marital', 'BMI', 'BMI_gp']

### Characteristics

In [64]:
set(data.casectrl)

{0.0, 1.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan}

In [65]:
len(data[data.casectrl == 0]), len(data[data.casectrl == 1])

(268, 245)

As you can see, the number of casectrl == 0 is correct, but the number of casectrl == 1 is a bit too high compared to the 240 in the paper. This means that we have to find five rows to drop that don't affect the casectrl == 0 count.

In [66]:
printNullCount(columns)

age : 11
ethnic : 11
ethnic0 : 11
housing : 11
housingGrp : 19
school_gp : 14
marital : 13
BMI : 123
BMI_gp : 123

In [67]:
#for c in columns:
#    data = data[data[c].isnull() == False]
#printNullCount(columns)

In [68]:
controls_data = data[data.casectrl == 0]
case_data = data[data.casectrl == 1]

In [69]:
len(controls_data), len(case_data)

(268, 245)

### Age

In [70]:
age_controls_table = {}
age_case_table = {}

In [71]:
# n
age_controls_table['age_count_50-59'] = len(controls_data[(controls_data.age >= 50) & (controls_data.age <= 59)])
age_controls_table['age_count_60-69'] = len(controls_data[(controls_data.age >= 60) & (controls_data.age <= 69)])
age_controls_table['age_count_70-'] = len(controls_data[controls_data.age >= 70])

# (%)
age_controls_table['age_percentage_50-59'] = age_controls_table['age_count_50-59'] / len(controls_data.age)
age_controls_table['age_percentage_60-69'] = age_controls_table['age_count_60-69'] / len(controls_data.age)
age_controls_table['age_percentage_70-'] = age_controls_table['age_count_70-'] / len(controls_data.age)

# n
age_case_table['age_count_50-59'] = len(case_data[(case_data.age >= 50) & (case_data.age <= 59)])
age_case_table['age_count_60-69'] = len(case_data[(case_data.age >= 60) & (case_data.age <= 69)])
age_case_table['age_count_70-'] = len(case_data[case_data.age >= 70])

# (%)
age_case_table['age_percentage_50-59'] = age_case_table['age_count_50-59'] / len(case_data.age)
age_case_table['age_percentage_60-69'] = age_case_table['age_count_60-69'] / len(case_data.age)
age_case_table['age_percentage_70-'] = age_case_table['age_count_70-'] / len(case_data.age)

In [72]:
df1 = pd.DataFrame(age_controls_table.items(), columns=['Age', 'n / (%)'])
df2 = pd.DataFrame(age_case_table.items(), columns=['Age', 'n / (%)'])
display_side_by_side(df1, df2)

,Age,n / (%)
0,age_count_50-59,91.000000
1,age_count_60-69,86.000000
2,age_count_70-,69.000000
3,age_percentage_50-59,0.339552
4,age_percentage_60-69,0.320896
5,age_percentage_70-,0.257463
,Age,n / (%)
0,age_count_50-59,36.000000
1,age_count_60-69,98.000000
2,age_count_70-,90.000000
3,age_percentage_50-59,0.146939
4,age_percentage_60-69,0.400000
5,age_percentage_70-,0.367347

In [73]:
a = np.array([[df1.iloc[0,1], df2.iloc[0,1]], 
              [df1.iloc[1,1], df2.iloc[1,1]], 
              [df1.iloc[2,1], df2.iloc[2,1]]])

_, p_value, _, _ = chi2_contingency(a)
print(format(p_value, '.8f'))

0.00000185

### Ethnic

In [74]:
set(data.ethnic)

{'Chinese', 'Indian', 'Malay', 'Others', nan}

In [75]:
ethnic_controls_table = {}
ethnic_case_table = {}

In [76]:
# n
ethnic_controls_table['chinese_count'] = len(controls_data[(controls_data.ethnic == 'Chinese')])
ethnic_controls_table['malay_count'] = len(controls_data[(controls_data.ethnic == 'Malay')])
ethnic_controls_table['indian_count'] = len(controls_data[controls_data.ethnic == 'Indian'])
ethnic_controls_table['others_count'] = len(controls_data[controls_data.ethnic == 'Others'])

# (%)
ethnic_controls_table['chinese_percentage'] = ethnic_controls_table['chinese_count'] / len(controls_data.ethnic)
ethnic_controls_table['malay_percentage'] = ethnic_controls_table['malay_count'] / len(controls_data.ethnic)
ethnic_controls_table['indian_percentage'] = ethnic_controls_table['indian_count'] / len(controls_data.ethnic)
ethnic_controls_table['others_percentage'] = ethnic_controls_table['others_count'] / len(controls_data.ethnic)

# n
ethnic_case_table['chinese_count'] = len(case_data[(case_data.ethnic == 'Chinese')])
ethnic_case_table['malay_count'] = len(case_data[(case_data.ethnic == 'Malay')])
ethnic_case_table['indian_count'] = len(case_data[case_data.ethnic == 'Indian'])
ethnic_case_table['others_count'] = len(case_data[case_data.ethnic == 'Others'])

# (%)
ethnic_case_table['chinese_percentage'] = ethnic_case_table['chinese_count'] / len(case_data.ethnic)
ethnic_case_table['malay_percentage'] = ethnic_case_table['malay_count'] / len(case_data.ethnic)
ethnic_case_table['indian_percentage'] = ethnic_case_table['indian_count'] / len(case_data.ethnic)
ethnic_case_table['others_percentage'] = ethnic_case_table['others_count'] / len(case_data.ethnic)

In [77]:
df1 = pd.DataFrame(ethnic_controls_table.items(), columns=['Ethnic', 'n / (%)'])
df2 = pd.DataFrame(ethnic_case_table.items(), columns=['Ethnic', 'n / (%)'])
display_side_by_side(df1, df2)

,Ethnic,n / (%)
0,chinese_count,225.000000
1,malay_count,13.000000
2,indian_count,23.000000
3,others_count,7.000000
4,chinese_percentage,0.839552
5,malay_percentage,0.048507
6,indian_percentage,0.085821
7,others_percentage,0.026119
,Ethnic,n / (%)
0,chinese_count,214.000000
1,malay_count,13.000000
2,indian_count,13.000000
3,others_count,5.000000
4,chinese_percentage,0.873469
5,malay_percentage,0.053061
6,indian_percentage,0.053061
7,others_percentage,0.020408

In [78]:
a = np.array([[df1.iloc[0,1], df2.iloc[0,1]], 
              [df1.iloc[1,1], df2.iloc[1,1]], 
              [df1.iloc[2,1], df2.iloc[2,1]],
              [df1.iloc[3,1], df2.iloc[3,1]]])

_, p_value, _, _ = chi2_contingency(a)
print(format(p_value, '.8f'))

0.50106888

### Housing

In [79]:
set(data.housing)

{'HDB 1-3room', 'HDB 4room', 'Others', 'Private condo', nan}

In [80]:
housing_controls_table = {}
housing_case_table = {}

In [81]:
# n
housing_controls_table['hdb_1-3_room_count'] = len(controls_data[(controls_data.housing == 'HDB 1-3room')])
housing_controls_table['hdb_4_room_count'] = len(controls_data[(controls_data.housing == 'HDB 4room')])
housing_controls_table['private_condo_count'] = len(controls_data[controls_data.housing == 'Private condo'])
housing_controls_table['others_count'] = len(controls_data[controls_data.housing == 'Others'])

# (%)
housing_controls_table['hdb_1-3_room_percentage'] = housing_controls_table['hdb_1-3_room_count'] / len(controls_data.housing)
housing_controls_table['hdb_4_room_percentage'] = housing_controls_table['hdb_4_room_count'] / len(controls_data.housing)
housing_controls_table['private_condo_percentage'] = housing_controls_table['private_condo_count'] / len(controls_data.housing)
housing_controls_table['others_percentage'] = housing_controls_table['others_count'] / len(controls_data.housing)

# n
housing_case_table['hdb_1-3_room_count'] = len(case_data[(case_data.housing == 'HDB 1-3room')])
housing_case_table['hdb_4_room_count'] = len(case_data[(case_data.housing == 'HDB 4room')])
housing_case_table['private_condo_count'] = len(case_data[case_data.housing == 'Private condo'])
housing_case_table['others_count'] = len(case_data[case_data.housing == 'Others'])

# (%)
housing_case_table['hdb_1-3_room_percentage'] = housing_case_table['hdb_1-3_room_count'] / len(case_data.housing)
housing_case_table['hdb_4_room_percentage'] = housing_case_table['hdb_4_room_count'] / len(case_data.housing)
housing_case_table['private_condo_percentage'] = housing_case_table['private_condo_count'] / len(case_data.housing)
housing_case_table['others_percentage'] = housing_case_table['others_count'] / len(case_data.housing)

In [82]:
df1 = pd.DataFrame(housing_controls_table.items(), columns=['Housing', 'n / (%)'])
df2 = pd.DataFrame(housing_case_table.items(), columns=['Housing', 'n / (%)'])
display_side_by_side(df1, df2)

,Housing,n / (%)
0,hdb_1-3_room_count,73.000000
1,hdb_4_room_count,154.000000
2,private_condo_count,29.000000
3,others_count,12.000000
4,hdb_1-3_room_percentage,0.272388
5,hdb_4_room_percentage,0.574627
6,private_condo_percentage,0.108209
7,others_percentage,0.044776
,Housing,n / (%)
0,hdb_1-3_room_count,40.000000
1,hdb_4_room_count,115.000000
2,private_condo_count,86.000000
3,others_count,4.000000
4,hdb_1-3_room_percentage,0.163265
5,hdb_4_room_percentage,0.469388
6,private_condo_percentage,0.351020
7,others_percentage,0.016327

In [83]:
a = np.array([[df1.iloc[0,1], df2.iloc[0,1]], 
              [df1.iloc[1,1], df2.iloc[1,1]], 
              [df1.iloc[2,1], df2.iloc[2,1]],
              [df1.iloc[3,1], df2.iloc[3,1]]])

_, p_value, _, _ = chi2_contingency(a)
print(format(p_value, '.8f'))

0.00000000

### Education

In [84]:
set(data.school_gp)

{0.0,
 1.0,
 2.0,
 3.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan}

I believe that the values 0 to 3 map straight to the categories on the paper, but let's make sure:

In [85]:
print(len(data[data.school_gp == 0])) # should be ~ 26
print(len(data[data.school_gp == 1])) # should be ~ 144
print(len(data[data.school_gp == 2])) # should be ~ 184
print(len(data[data.school_gp == 3])) # should be ~ 151

26
146
185
153

Okay, looks good.

In [86]:
education_controls_table = {}
education_case_table = {}

In [87]:
# n
education_controls_table['never_count'] = len(controls_data[(controls_data.school_gp == 0)])
education_controls_table['1-6_years_count'] = len(controls_data[(controls_data.school_gp == 1)])
education_controls_table['7-10_years_count'] = len(controls_data[controls_data.school_gp == 2])
education_controls_table['10-_count'] = len(controls_data[controls_data.school_gp == 3])

# (%)
education_controls_table['never_percentage'] = education_controls_table['never_count'] / len(controls_data.school_gp)
education_controls_table['1-6_years_percentage'] = education_controls_table['1-6_years_count'] / len(controls_data.school_gp)
education_controls_table['7-10_years_percentage'] = education_controls_table['7-10_years_count'] / len(controls_data.school_gp)
education_controls_table['10-_percentage'] = education_controls_table['10-_count'] / len(controls_data.school_gp)

# n
education_case_table['never_count'] = len(case_data[(case_data.school_gp == 0)])
education_case_table['1-6_years_count'] = len(case_data[(case_data.school_gp == 1)])
education_case_table['7-10_years_count'] = len(case_data[case_data.school_gp == 2])
education_case_table['10-_count'] = len(case_data[case_data.school_gp == 3])

# (%)
education_case_table['never_percentage'] = education_case_table['never_count'] / len(case_data.school_gp)
education_case_table['1-6_years_percentage'] = education_case_table['1-6_years_count'] / len(case_data.school_gp)
education_case_table['7-10_years_percentage'] = education_case_table['7-10_years_count'] / len(case_data.school_gp)
education_case_table['10-_percentage'] = education_case_table['10-_count'] / len(case_data.school_gp)

In [88]:
df1 = pd.DataFrame(education_controls_table.items(), columns=['Education', 'n / (%)'])
df2 = pd.DataFrame(education_case_table.items(), columns=['Education', 'n / (%)'])
display_side_by_side(df1, df2)

,Education,n / (%)
0,never_count,20.000000
1,1-6_years_count,89.000000
2,7-10_years_count,102.000000
3,10-_count,55.000000
4,never_percentage,0.074627
5,1-6_years_percentage,0.332090
6,7-10_years_percentage,0.380597
7,10-_percentage,0.205224
,Education,n / (%)
0,never_count,6.000000
1,1-6_years_count,57.000000
2,7-10_years_count,83.000000
3,10-_count,98.000000
4,never_percentage,0.024490
5,1-6_years_percentage,0.232653
6,7-10_years_percentage,0.338776
7,10-_percentage,0.400000

In [89]:
a = np.array([[df1.iloc[0,1], df2.iloc[0,1]], 
              [df1.iloc[1,1], df2.iloc[1,1]], 
              [df1.iloc[2,1], df2.iloc[2,1]],
              [df1.iloc[3,1], df2.iloc[3,1]],])

_, p_value, _, _ = chi2_contingency(a)
print(format(p_value, '.8f'))

0.00000422

### Marital status

In [90]:
set(data.marital)

{0.0,
 1.0,
 2.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan}

Once again, I'm expected 0 to 2 to map to the categories in the paper - married, separated, and never married that is.

In [91]:
print(len(data[data.marital== 0])) # should be ~ 443
print(len(data[data.marital == 1])) # should be ~ 35
print(len(data[data.marital == 2])) # should be ~ 28

448
35
28

Yup, it seems to work as planned.

In [92]:
marital_controls_table = {}
marital_case_table = {}

In [93]:
# n
marital_controls_table['currently_married_count'] = len(controls_data[(controls_data.marital == 0)])
marital_controls_table['separated_count'] = len(controls_data[(controls_data.marital == 1)])
marital_controls_table['never_married_count'] = len(controls_data[controls_data.marital == 2])

# (%)
marital_controls_table['currently_married_percentage'] = marital_controls_table['currently_married_count'] / len(controls_data.marital)
marital_controls_table['separated_percentage'] = marital_controls_table['separated_count'] / len(controls_data.marital)
marital_controls_table['never_married_percentage'] = marital_controls_table['never_married_count'] / len(controls_data.marital)

# n
marital_case_table['currently_married_count'] = len(case_data[(case_data.marital == 0)])
marital_case_table['separated_count'] = len(case_data[(case_data.marital == 1)])
marital_case_table['never_married_count'] = len(case_data[case_data.marital == 2])

# (%)
marital_case_table['currently_married_percentage'] = marital_case_table['currently_married_count'] / len(case_data.marital)
marital_case_table['separated_percentage'] = marital_case_table['separated_count'] / len(case_data.marital)
marital_case_table['never_married_percentage'] = marital_case_table['never_married_count'] / len(case_data.marital)

In [94]:
df1 = pd.DataFrame(marital_controls_table.items(), columns=['Marital status', 'n / (%)'])
df2 = pd.DataFrame(marital_case_table.items(), columns=['Marital status', 'n / (%)'])
display_side_by_side(df1, df2)

,Marital status,n / (%)
0,currently_married_count,224.000000
1,separated_count,26.000000
2,never_married_count,17.000000
3,currently_married_percentage,0.835821
4,separated_percentage,0.097015
5,never_married_percentage,0.063433
,Marital status,n / (%)
0,currently_married_count,224.000000
1,separated_count,9.000000
2,never_married_count,11.000000
3,currently_married_percentage,0.914286
4,separated_percentage,0.036735
5,never_married_percentage,0.044898

In [95]:
a = np.array([[df1.iloc[0,1], df2.iloc[0,1]], 
              [df1.iloc[1,1], df2.iloc[1,1]], 
              [df1.iloc[2,1], df2.iloc[2,1]]])

_, p_value, _, _ = chi2_contingency(a)
print(format(p_value, '.8f'))

0.01408773

### Family history of any cancer in the dirst degree relatives

In [129]:
set(data.q4A1)

{nan,
 1.0,
 2.0,
 3.0,
 4.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 99.0,
 333.0}

In [133]:
print("No cancer in family:", len(data[(data.q4A1 == 1)]))
print("Cancer in family:", len(data[(data.q4A1 == 2) | (data.q4A1 == 3)]))

No cancer in family: 324
Cancer in family: 152

In [135]:
cif_controls_table = {}
cif_case_table = {}

In [136]:
# n
cif_controls_table['cancer_in_family_count'] = len(controls_data[(controls_data.q4A1 == 2) | (controls_data.q4A1 == 3)])
cif_controls_table['no_cancer_in_family_count'] = len(controls_data[(controls_data.q4A1 == 1)])

# (%)
cif_controls_table['cancer_in_family_percentage'] = cif_controls_table['cancer_in_family_count'] / len(controls_data.q4A1)
cif_controls_table['no_cancer_in_family_percentage'] = cif_controls_table['no_cancer_in_family_count'] / len(controls_data.q4A1)

# n
cif_case_table['cancer_in_family_count'] = len(case_data[(case_data.q4A1 == 2) | (case_data.q4A1 == 3)])
cif_case_table['no_cancer_in_family_count'] = len(case_data[(case_data.q4A1 == 1)])

# (%)
cif_case_table['cancer_in_family_percentage'] = cif_case_table['cancer_in_family_count'] / len(case_data.q4A1)
cif_case_table['no_cancer_in_family_percentage'] = cif_case_table['no_cancer_in_family_count'] / len(case_data.q4A1)

In [140]:
df1 = pd.DataFrame(cif_controls_table.items(), columns=['Cancer in family', 'n / (%)'])
df2 = pd.DataFrame(cif_case_table.items(), columns=['Cancer in family', 'n / (%)'])
display_side_by_side(df1, df2)

,Cancer in family,n / (%)
0,cancer_in_family_count,51.000000
1,no_cancer_in_family_count,198.000000
2,cancer_in_family_percentage,0.190299
3,no_cancer_in_family_percentage,0.738806
,Cancer in family,n / (%)
0,cancer_in_family_count,101.000000
1,no_cancer_in_family_count,126.000000
2,cancer_in_family_percentage,0.412245
3,no_cancer_in_family_percentage,0.514286

In [142]:
a = np.array([[df1.iloc[0,1], df2.iloc[0,1]], 
              [df1.iloc[1,1], df2.iloc[1,1]]])

_, p_value, _, _ = chi2_contingency(a)
print(format(p_value, '.8f'))

0.00000004

### BMI (kg/m2)

In [100]:
set(data.BMI_gp)

{nan,
 1.0,
 2.0,
 3.0,
 4.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan}

In [101]:
print(len(data[data.BMI_gp == 1])) # should be ~ 114
print(len(data[data.BMI_gp == 2])) # should be ~ 126
print(len(data[data.BMI_gp == 3])) # should be ~ 86
print(len(data[data.BMI_gp == 4])) # should be ~ 70

118
126
87
70

In [102]:
bmi_controls_table = {}
bmi_case_table = {}

In [151]:
# n
bmi_controls_table['quartile1_count'] = len(controls_data[(controls_data.BMI_gp == 1)])
bmi_controls_table['quartile2_count'] = len(controls_data[(controls_data.BMI_gp == 2)])
bmi_controls_table['quartile3_count'] = len(controls_data[controls_data.BMI_gp == 3])
bmi_controls_table['quartile4_count'] = len(controls_data[controls_data.BMI_gp == 4])

# (%)
bmi_controls_table['quartile1_percentage'] = bmi_controls_table['quartile1_count'] / len(controls_data.BMI_gp)
bmi_controls_table['quartile2_percentage'] = bmi_controls_table['quartile2_count'] / len(controls_data.BMI_gp)
bmi_controls_table['quartile3_percentage'] = bmi_controls_table['quartile3_count'] / len(controls_data.BMI_gp)
bmi_controls_table['quartile4_percentage'] = bmi_controls_table['quartile4_count'] / len(controls_data.BMI_gp)

# n
bmi_case_table['quartile1_count'] = len(case_data[(case_data.BMI_gp == 1)])
bmi_case_table['quartile2_count'] = len(case_data[(case_data.BMI_gp == 2)])
bmi_case_table['quartile3_count'] = len(case_data[case_data.BMI_gp == 3])
bmi_case_table['quartile4_count'] = len(case_data[case_data.BMI_gp == 4])

# (%)
bmi_case_table['quartile1_percentage'] = bmi_case_table['quartile1_count'] / len(case_data.BMI_gp)
bmi_case_table['quartile2_percentage'] = bmi_case_table['quartile2_count'] / len(case_data.BMI_gp)
bmi_case_table['quartile3_percentage'] = bmi_case_table['quartile3_count'] / len(case_data.BMI_gp)
bmi_case_table['quartile4_percentage'] = bmi_case_table['quartile4_count'] / len(case_data.BMI_gp)

In [152]:
df1 = pd.DataFrame(bmi_controls_table.items(), columns=['BMI (kg/m2)', 'n / (%)'])
df2 = pd.DataFrame(bmi_case_table.items(), columns=['BMI (kg/m2)', 'n / (%)'])
display_side_by_side(df1, df2)

,BMI (kg/m2),n / (%)
0,quartile1_count,45.000000
1,quartile2_count,47.000000
2,quartile3_count,46.000000
3,quartile4_count,46.000000
4,quartile1_percentage,0.167910
5,quartile2_percentage,0.175373
6,quartile3_percentage,0.171642
7,quartile4_percentage,0.171642
,BMI (kg/m2),n / (%)
0,quartile1_count,73.000000
1,quartile2_count,79.000000
2,quartile3_count,41.000000
3,quartile4_count,24.000000
4,quartile1_percentage,0.297959
5,quartile2_percentage,0.322449
6,quartile3_percentage,0.167347
7,quartile4_percentage,0.097959

In [153]:
a = np.array([[df1.iloc[0,1], df2.iloc[0,1]], 
              [df1.iloc[1,1], df2.iloc[1,1]], 
              [df1.iloc[2,1], df2.iloc[2,1]],
              [df1.iloc[3,1], df2.iloc[3,1]]])

_, p_value, _, _ = chi2_contingency(a)
print(format(p_value, '.8f'))

0.00022724

# Sun Exposure and the Risk of Prostate Cancer in the Singapore Prostate Cancer Study: Table 2

### Eye colour

In [144]:
set(data.eye)

{nan,
 1.0,
 2.0,
 nan,
 nan,
 3.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan}

In [143]:
eye_controls_table = {}
eye_case_table = {}

In [154]:
# n
eye_controls_table['black_or_dark_brown_count'] = len(controls_data[(controls_data.eye == 1)])
eye_controls_table['light_brown_count'] = len(controls_data[(controls_data.eye == 2)])

# (%)
eye_controls_table['black_or_dark_brown_percentage'] = eye_controls_table['black_or_dark_brown_count'] / len(controls_data.eye)
eye_controls_table['light_brown_percentage'] = eye_controls_table['light_brown_count'] / len(controls_data.eye)

# n
eye_case_table['black_or_dark_brown_count'] = len(case_data[(case_data.eye == 1)])
eye_case_table['light_brown_count'] = len(case_data[(case_data.eye == 2)])

# (%)
eye_case_table['black_or_dark_brown_percentage'] = eye_case_table['black_or_dark_brown_count'] / len(case_data.eye)
eye_case_table['light_brown_percentage'] = eye_case_table['light_brown_count'] / len(case_data.eye)

In [155]:
df1 = pd.DataFrame(eye_controls_table.items(), columns=['BMI (kg/m2)', 'n / (%)'])
df2 = pd.DataFrame(eye_case_table.items(), columns=['BMI (kg/m2)', 'n / (%)'])
display_side_by_side(df1, df2)

,BMI (kg/m2),n / (%)
0,black_or_dark_brown_count,169.000000
1,light_brown_count,97.000000
2,black_or_dark_brown_percentage,0.630597
3,light_brown_percentage,0.361940
,BMI (kg/m2),n / (%)
0,black_or_dark_brown_count,214.000000
1,light_brown_count,25.000000
2,black_or_dark_brown_percentage,0.873469
3,light_brown_percentage,0.102041

In [158]:
a = np.array([[df1.iloc[0,1], df2.iloc[0,1]], 
              [df1.iloc[1,1], df2.iloc[1,1]]])

_, p_value, _, _ = chi2_contingency(a)
print(format(p_value, '.12f'))

0.000000000019

### Skin colour

In [165]:
set(data.skin2)

{nan,
 1.0,
 nan,
 3.0,
 4.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan}

In [169]:
len(data[data.skin2 == 1]), len(data[data.skin2 == 3]), len(data[data.skin2 == 4])

(106, 248, 153)

In [171]:
skin_controls_table = {}
skin_case_table = {}

In [172]:
# n
skin_controls_table['white_count'] = len(controls_data[(controls_data.skin2 == 1)])
skin_controls_table['light_tan_count'] = len(controls_data[controls_data.skin2 == 3])
skin_controls_table['tan_brown_black_count'] = len(controls_data[controls_data.skin2 == 4])

# (%)
skin_controls_table['white_percentage'] = skin_controls_table['white_count'] / len(controls_data.skin2)
skin_controls_table['light_tan_percentage'] = skin_controls_table['light_tan_count'] / len(controls_data.skin2)
skin_controls_table['tan_brown_black_percentage'] = skin_controls_table['tan_brown_black_count'] / len(controls_data.skin2)

# n
skin_case_table['white_count'] = len(case_data[(case_data.skin2 == 1)])
skin_case_table['light_tan_count'] = len(case_data[case_data.skin2 == 3])
skin_case_table['tan_brown_black_count'] = len(case_data[case_data.skin2 == 4])

# (%)
skin_case_table['white_percentage'] = skin_case_table['white_count'] / len(case_data.skin2)
skin_case_table['light_tan_percentage'] = skin_case_table['light_tan_count'] / len(case_data.skin2)
skin_case_table['tan_brown_black_percentage'] = skin_case_table['tan_brown_black_count'] / len(case_data.skin2)

In [175]:
df1 = pd.DataFrame(skin_controls_table.items(), columns=['Skin colour', 'n / (%)'])
df2 = pd.DataFrame(skin_case_table.items(), columns=['Skin colour', 'n / (%)'])
display_side_by_side(df1, df2)

,Skin colour,n / (%)
0,white_count,80.000000
1,light_tan_count,116.000000
2,tan_brown_black_count,72.000000
3,white_percentage,0.298507
4,light_tan_percentage,0.432836
5,tan_brown_black_percentage,0.268657
,Skin colour,n / (%)
0,white_count,26.000000
1,light_tan_count,132.000000
2,tan_brown_black_count,81.000000
3,white_percentage,0.106122
4,light_tan_percentage,0.538776
5,tan_brown_black_percentage,0.330612

In [176]:
a = np.array([[df1.iloc[0,1], df2.iloc[0,1]], 
              [df1.iloc[1,1], df2.iloc[1,1]], 
              [df1.iloc[2,1], df2.iloc[2,1]]])

_, p_value, _, _ = chi2_contingency(a)
print(format(p_value, '.8f'))

0.00000107

### Sunburn frequency

In [182]:
set(data.sunburn_fq)

{'Frequently', 'None', 'Occasionally', 'Seldom', nan}

In [184]:
len(data[data.sunburn_fq == "None"]), 147+112

(261, 259)

In [185]:
len(data[data.sunburn_fq == "Seldom"]), 70+56

(127, 126)

In [186]:
len(data[data.sunburn_fq == "Occasionally"]), 24+33

(59, 57)

In [187]:
len(data[data.sunburn_fq == "Frequently"]), 15+30

(45, 45)

In [189]:
sunburn_controls_table = {}
sunburn_case_table = {}

In [190]:
# n
sunburn_controls_table['never_count'] = len(controls_data[(controls_data.sunburn_fq == "None")])
sunburn_controls_table['seldom_count'] = len(controls_data[(controls_data.sunburn_fq == "Seldom")])
sunburn_controls_table['occasionally_count'] = len(controls_data[controls_data.sunburn_fq == "Occasionally"])
sunburn_controls_table['frequently_count'] = len(controls_data[controls_data.sunburn_fq == "Frequently"])

# (%)
sunburn_controls_table['never_percentage'] = sunburn_controls_table['never_count'] / len(controls_data.sunburn_fq)
sunburn_controls_table['seldom_percentage'] = sunburn_controls_table['seldom_count'] / len(controls_data.sunburn_fq)
sunburn_controls_table['occasionally_percentage'] = sunburn_controls_table['occasionally_count'] / len(controls_data.sunburn_fq)
sunburn_controls_table['frequently_percentage'] = sunburn_controls_table['frequently_count'] / len(controls_data.sunburn_fq)

# n
sunburn_case_table['never_count'] = len(case_data[(case_data.sunburn_fq == "None")])
sunburn_case_table['seldom_count'] = len(case_data[(case_data.sunburn_fq == "Seldom")])
sunburn_case_table['occasionally_count'] = len(case_data[case_data.sunburn_fq == "Occasionally"])
sunburn_case_table['frequently_count'] = len(case_data[case_data.sunburn_fq == "Frequently"])

# (%)
sunburn_case_table['never_percentage'] = sunburn_case_table['never_count'] / len(case_data.sunburn_fq)
sunburn_case_table['seldom_percentage'] = sunburn_case_table['seldom_count'] / len(case_data.sunburn_fq)
sunburn_case_table['occasionally_percentage'] = sunburn_case_table['occasionally_count'] / len(case_data.sunburn_fq)
sunburn_case_table['frequently_percentage'] = sunburn_case_table['frequently_count'] / len(case_data.sunburn_fq)

In [191]:
df1 = pd.DataFrame(sunburn_controls_table.items(), columns=['Sunburn frequency', 'n / (%)'])
df2 = pd.DataFrame(sunburn_case_table.items(), columns=['Sunburn frequency', 'n / (%)'])
display_side_by_side(df1, df2)

,Sunburn frequency,n / (%)
0,never_count,147.000000
1,seldom_count,70.000000
2,occasionally_count,24.000000
3,frequently_count,15.000000
4,never_percentage,0.548507
5,seldom_percentage,0.261194
6,occasionally_percentage,0.089552
7,frequently_percentage,0.055970
,Sunburn frequency,n / (%)
0,never_count,114.000000
1,seldom_count,57.000000
2,occasionally_count,35.000000
3,frequently_count,30.000000
4,never_percentage,0.465306
5,seldom_percentage,0.232653
6,occasionally_percentage,0.142857
7,frequently_percentage,0.122449

In [192]:
a = np.array([[df1.iloc[0,1], df2.iloc[0,1]], 
              [df1.iloc[1,1], df2.iloc[1,1]], 
              [df1.iloc[2,1], df2.iloc[2,1]],
              [df1.iloc[3,1], df2.iloc[3,1]]])

_, p_value, _, _ = chi2_contingency(a)
print(format(p_value, '.8f'))

0.00825068

### Adult sun exposure

In [240]:
for c in data.columns:
    if "adult" in c:
        print(c)

adultwork
adultwk
adultwork_y
adultwork_ygp
adultwkend_y
adultwkend_ygp
adult_pw
adultpw_gp
adultpw_gp3
adultpw_y
adultpw_gp_y

In [232]:
for c in data.columns:
    if len(data[data[c] == 0]) > 309 and len(data[data[c] == 0]) < 329:
        if len(data[data[c] == 1]) > 79 and len(data[data[c] == 1]) < 99:
            print(c)

adultpw_gp3

In [233]:
set(data.adultpw_gp3)
#set(data.adultwk)

{0.0, 1.0, 2.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan}

In [237]:
len(data[data.adultpw_gp3 == 0]), 188+131

(322, 319)

In [238]:
len(data[data.adultpw_gp3 == 1]), 36+53

(90, 89)

In [239]:
len(data[data.adultpw_gp3 == 2]), 44+56

(101, 100)

In [241]:
sun_controls_table = {}
sun_case_table = {}

In [244]:
# n
sun_controls_table['less_than_0.5h_week_count'] = len(controls_data[(controls_data.adultpw_gp3 == 0)])
sun_controls_table['0.5-10h_week_count'] = len(controls_data[(controls_data.adultpw_gp3 == 1)])
sun_controls_table['10.1-56h_week_count'] = len(controls_data[controls_data.adultpw_gp3 == 2])

# (%)
sun_controls_table['less_than_0.5h_week_percentage'] = sun_controls_table['less_than_0.5h_week_count'] / len(controls_data.adultpw_gp3)
sun_controls_table['0.5-10h_week_percentage'] = sun_controls_table['0.5-10h_week_count'] / len(controls_data.adultpw_gp3)
sun_controls_table['10.1-56h_week_percentage'] = sun_controls_table['10.1-56h_week_count'] / len(controls_data.adultpw_gp3)

# n
sun_case_table['less_than_0.5h_week_count'] = len(case_data[(case_data.adultpw_gp3 == 0)])
sun_case_table['0.5-10h_week_count'] = len(case_data[(case_data.adultpw_gp3 == 1)])
sun_case_table['10.1-56h_week_count'] = len(case_data[case_data.adultpw_gp3 == 2])

# (%)
sun_case_table['less_than_0.5h_week_percentage'] = sun_case_table['less_than_0.5h_week_count'] / len(case_data.adultpw_gp3)
sun_case_table['0.5-10h_week_percentage'] = sun_case_table['0.5-10h_week_count'] / len(case_data.adultpw_gp3)
sun_case_table['10.1-56h_week_percentage'] = sun_case_table['10.1-56h_week_count'] / len(case_data.adultpw_gp3)

In [245]:
df1 = pd.DataFrame(sun_controls_table.items(), columns=['Sun exposure', 'n / (%)'])
df2 = pd.DataFrame(sun_case_table.items(), columns=['Sun exposure', 'n / (%)'])
display_side_by_side(df1, df2)

,Sun exposure,n / (%)
0,less_than_0.5h_week_count,188.000000
1,0.5-10h_week_count,36.000000
2,10.1-56h_week_count,44.000000
3,less_than_0.5h_week_percentage,0.701493
4,0.5-10h_week_percentage,0.134328
5,10.1-56h_week_percentage,0.164179
,Sun exposure,n / (%)
0,less_than_0.5h_week_count,134.000000
1,0.5-10h_week_count,54.000000
2,10.1-56h_week_count,57.000000
3,less_than_0.5h_week_percentage,0.546939
4,0.5-10h_week_percentage,0.220408
5,10.1-56h_week_percentage,0.232653

In [246]:
a = np.array([[df1.iloc[0,1], df2.iloc[0,1]], 
              [df1.iloc[1,1], df2.iloc[1,1]], 
              [df1.iloc[2,1], df2.iloc[2,1]]])

_, p_value, _, _ = chi2_contingency(a)
print(format(p_value, '.8f'))

0.00127810

### Physical activities (MET/wk)

In [271]:
for c in data.columns:
    try:
        if len(data[data[c] <= 222]) > 95 and len(data[data[c] <= 222]) < 115:
            print(c)
    except TypeError as e:
        continue

MET_pw
redtea
GREENtea
soymilk_s
stage

In [273]:
for c in data.columns:
    if "MET" in c:
        print(c)

MET_work
MET_rest
MET_pw
MET_pwgp3
MET_pwgp2
MET_pwgp
MET_loco
MET_log
lo_METgp

In [272]:
set(data.MET_pw)

{nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 151.5,
 184.8000031,
 201.5999908,
 204.0,
 205.8000031,
 210.0,
 211.8000031,
 212.09999080000003,
 214.1999969,
 216.0,
 217.2000122,
 218.40000919999997,
 219.0,
 219.1999969,
 219.35000609999997,
 220.5,
 221.52500919999997,
 221.90000919999997,
 222.0,
 222.59999080000003,
 222.77500919999997,
 222.89999390000003,
 222.9499969,
 223.40000919999997,
 223.90000919999997,
 224.17501830000003,
 224.69998169999997,
 226.80001830000003,
 227.15000919999997,
 229.25,
 229.65000919999997,
 231.10000609999997,
 231.17501830000003,
 231.80001830000003,
 233.05001830000003,
 233.09999080000003,
 233.5,
 233.625,
 233.80001830000003,
 234.0,
 234.30001830000003,
 234.5,
 234.65000919999997,
 234.90000919999997,
 235.0,
 235.0500031,
 235.09999080000003,
 235.15000919999997,
 235.19998169999997,
 235.55001830000003,
 235.72499080000003,
 235.75,
 235.90000919999997,
 236.0,
 236.3000031,
 236.80001830000003,
 236.90000919999997,
 237.25,
 237.30001830000003,
 238.0,
 238.10000609999997,
 238.1999969,
 238.40000919999997,
 238.5500031,
 238.84999080000003,
 238.89999390000003,
 239.19998169999997,
 239.30001830000003,
 239.40000919999997,
 239.75,
 240.09999080000003,
 241.3000031,
 241.84999080000003,
 241.89999390000003,
 242.0,
 242.19998169999997,
 242.39999390000003,
 243.05001830000003,
 243.15000919999997,
 243.25,
 243.40000919999997,
 243.59999080000003,
 243.84999080000003,
 243.89999390000003,
 243.94998169999997,
 244.30001830000003,
 244.65000919999997,
 245.0,
 245.09999080000003,
 245.14999390000003,
 245.65000919999997,
 246.05001830000003,
 246.40000919999997,
 247.55001830000003,
 248.15000919999997,
 248.40000919999997,
 248.60000609999997,
 248.84999080000003,
 249.2999878,
 249.30001830000003,
 249.69998169999997,
 250.09999080000003,
 252.10000609999997,
 253.40000919999997,
 254.8000031,
 255.15000919999997,
 255.60000609999997,
 255.90000919999997,
 256.8500061,
 256.8999939,
 257.6000061,
 257.7000122,
 257.8999939,
 258.3999939,
 258.8500061,
 259.30001830000003,
 259.3500061,
 260.55001830000003,
 260.7000122,
 260.8999939,
 261.0,
 261.80001830000003,
 262.1499939,
 262.2999878,
 263.19998169999997,
 263.3999939,
 263.8999939,
 264.55001830000003,
 264.6499939,
 265.8999939,
 266.69998169999997,
 266.80001830000003,
 267.19998169999997,
 267.6000061,
 267.8999939,
 268.1000061,
 269.2000122,
 270.19998169999997,
 270.55001830000003,
 270.89999389999997,
 271.39999389999997,
 271.94998169999997,
 276.5999756,
 276.85000610000003,
 277.80001830000003,
 278.2000122,
 279.7999878,
 280.89999389999997,
 281.10000610000003,
 281.60000610000003,
 281.80001830000003,
 283.0,
 288.39999389999997,
 289.10000610000003,
 289.7000122,
 290.19998169999997,
 290.89999389999997,
 292.25,
 293.39999389999997,
 294.30001830000003,
 295.39999389999997,
 296.80001830000003,
 299.60000610000003,
 300.10000610000003,
 300.2999878,
 302.94998169999997,
 303.60000610000003,
 303.80001830000003,
 304.14999389999997,
 305.89999389999997,
 306.39999389999997,
 310.55001830000003,
 316.0,
 316.05001830000003,
 322.60000610000003,
 322.69998169999997,
 324.7000122,
 326.89999389999997,
 327.0,
 327.39999389999997,
 327.80001830000003,
 331.0,
 332.7999878,
 335.60000610000003,
 340.10000610000003,
 341.0,
 348.7999878,
 356.35000610000003,
 358.39999389999997,
 362.60000610000003,
 366.80001830000003,
 386.39999389999997,
 395.60000610000003,
 400.39999389999997,
 406.80001830000003,
 436.0,
 437.19998169999997,
 444.5,
 446.80001830000003,
 452.6000061000001,
 459.3999938999999,
 498.39996339999993,
 513.3999633999999,
 nan,
 nan,
 216.3000031,
 216.60000609999997,
 220.1999969,
 221.39999390000003,
 222.3000031,
 222.7999878,
 223.2000122,
 224.40000919999997,
 224.65000919999997,
 224.75,
 225.60000609999997,
 225.90000919999997,
 226.25,
 226.75,
 226.90000919999997,
 227.39999390000003,
 227.5,
 227.59999080000003,
 228.40000919999997,
 228.60000609999997,
 228.8000031,
 228.84999080000003,
 228.90000919999997,
 229.30001830000003,
 229.40000919999997,
 229.5500031,
 229.8000031,
 229.90000919999997,
 230.09999080000003,
 230.14999390000003,
 230.1999969,
 230.5,
 230.90000919999997,
 231.0,
 231.25,
 231.34999080000003,
 231.69998169999997,
 232.14999390000003,
 232.55001830000003,
 232.6999969,
 233.0,
 233.44998169999997,
 246.0,
 246.25,
 246.39999390000003,
 247.10000609999997,
 248.5,
 250.60000609999997,
 253.75,
 254.5,
 698.8999633999999,
 808.5}

In [274]:
set(data.MET_pwgp)

{nan, 1.0, 2.0, 3.0, 4.0, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan}

In [275]:
len(data[data.MET_pwgp == 1]), 65+40

(105, 105)

In [276]:
len(data[data.MET_pwgp == 2]), 66+57

(126, 123)

In [277]:
len(data[data.MET_pwgp == 3]), 69+64

(133, 133)

In [278]:
len(data[data.MET_pwgp == 4]), 68+79

(149, 147)

In [279]:
pa_controls_table = {}
pa_case_table = {}

In [280]:
# n
pa_controls_table['quartile1_count'] = len(controls_data[(controls_data.MET_pwgp == 1)])
pa_controls_table['quartile2_count'] = len(controls_data[(controls_data.MET_pwgp == 2)])
pa_controls_table['quartile3_count'] = len(controls_data[controls_data.MET_pwgp == 3])
pa_controls_table['quartile4_count'] = len(controls_data[controls_data.MET_pwgp == 4])

# (%)
pa_controls_table['quartile1_percentage'] = pa_controls_table['quartile1_count'] / len(controls_data.MET_pwgp)
pa_controls_table['quartile2_percentage'] = pa_controls_table['quartile2_count'] / len(controls_data.MET_pwgp)
pa_controls_table['quartile3_percentage'] = pa_controls_table['quartile3_count'] / len(controls_data.MET_pwgp)
pa_controls_table['quartile4_percentage'] = pa_controls_table['quartile4_count'] / len(controls_data.MET_pwgp)

# n
pa_case_table['quartile1_count'] = len(case_data[(case_data.MET_pwgp == 1)])
pa_case_table['quartile2_count'] = len(case_data[(case_data.MET_pwgp == 2)])
pa_case_table['quartile3_count'] = len(case_data[case_data.MET_pwgp == 3])
pa_case_table['quartile4_count'] = len(case_data[case_data.MET_pwgp == 4])

# (%)
pa_case_table['quartile1_percentage'] = pa_case_table['quartile1_count'] / len(case_data.MET_pwgp)
pa_case_table['quartile2_percentage'] = pa_case_table['quartile2_count'] / len(case_data.MET_pwgp)
pa_case_table['quartile3_percentage'] = pa_case_table['quartile3_count'] / len(case_data.MET_pwgp)
pa_case_table['quartile4_percentage'] = pa_case_table['quartile4_count'] / len(case_data.MET_pwgp)

In [281]:
df1 = pd.DataFrame(pa_controls_table.items(), columns=['', 'n / (%)'])
df2 = pd.DataFrame(pa_case_table.items(), columns=['', 'n / (%)'])
display_side_by_side(df1, df2)

,,n / (%)
0,quartile1_count,65.000000
1,quartile2_count,66.000000
2,quartile3_count,69.000000
3,quartile4_count,68.000000
4,quartile1_percentage,0.242537
5,quartile2_percentage,0.246269
6,quartile3_percentage,0.257463
7,quartile4_percentage,0.253731
,,n / (%)
0,quartile1_count,40.000000
1,quartile2_count,60.000000
2,quartile3_count,64.000000
3,quartile4_count,81.000000
4,quartile1_percentage,0.163265
5,quartile2_percentage,0.244898
6,quartile3_percentage,0.261224
7,quartile4_percentage,0.330612

In [282]:
a = np.array([[df1.iloc[0,1], df2.iloc[0,1]], 
              [df1.iloc[1,1], df2.iloc[1,1]], 
              [df1.iloc[2,1], df2.iloc[2,1]],
              [df1.iloc[3,1], df2.iloc[3,1]]])

_, p_value, _, _ = chi2_contingency(a)
print(format(p_value, '.8f'))

0.08801089